@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-alfa-slab: "Alfa Slab One", serif;
  --beige: #ebe9e1;
  --red: #e43d12;
  --yellow: #efb11D;
  --pink: #ffa2b6;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  /* color: aliceblue; */
  padding: .5rem;
  
}

.header-link{
  margin: 0 .5rem;
  font-family: var(--font-roboto);

}

#right-header-group{
  display: flex;
}

#logo{
  font-weight: bold;
  font-size: 1rem;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--beige);
  color: var(--red);

  display: flex; /*basically always do this for responsive design*/
  justify-content: center; /*centers horizontally*/
  align-items: center; /*centers vertically:*/
  height: 100vh; /*make this box the height of the whole page*/
  margin: 0;
}

.home{
  /* background-color: rgb(43, 170, 100); */
  text-align: center;
}

.Footer{
  color: black;
  display: flex;
  /* margin-top: 60rem; */
}

h1 {
  font-size: 6rem;
  letter-spacing: .75rem;
  /* border-bottom: 1px solid var(--red); */
  margin: 2rem;
  font-family: var(--font-alfa-slab);
}

.start-btn{
  border-radius: 0.5rem;
  color: var(--beige);
  background-color: var(--pink);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: color .3s, transform 0.5s;
}

.start-btn:hover{
  color: var(--red);
  transform: scale(105%);
}